p {
    font-size: 10px;
    font-family:timesnewroman;
    color:white;
    background-color:black;
}

h1 {
    font-size:20px;
    color:red;
    font-family:arial;
}

h2 {
    font-size:15px;
    color:blue;
    font-family:arial;
}

h1, h2{
    background-color:yellow;
}