.pink{
	background-color: pink; 
	height: 30px;

}


.red{
	background-color: red; 
	height: 30px;

}

.yellow{
	background-color: yellow; 
	height: 30px;

}

.blue{
	background-color: blue; 
	height: 30px;

}

table{
	border: none; 
	width: 100%;
	table-layout: fixed;
}


td {
	colspan=4;
	padding: 33px;
   }


